/* ====================================================================================================
Colors : Here you define your color palette & colorscheme, we defined some fresh colors for you
 __________________________
| It's all about variables |
======================================================================================================*/

$color-css: #3498db;
$color-javascript: #f1c40f;
$color-misc: #2ecc71;

$grey: #7f8c8d;
$white: #ecf0f1;

$dark-background: #2c3e50;
