/* Helper : Border-radius
-------------------------------------------------------------------*/
@mixin border-top-radius($radius) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}
@mixin border-left-radius($radius) {
  border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
}
@mixin border-right-radius($radius) {
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
}
/* Helper : Borders
-------------------------------------------------------------------*/
@mixin border-not-top($size, $type, $color) {
  border: $size+px $type $color;
  border-top: none;
}
@mixin border-not-bottom($size, $type, $color) {
  border: $size+px $type $color;
  border-bottom: none;
}
@mixin border-not-left($size, $type, $color) {
  border: $size+px $type $color;
  border-left: none;
}
@mixin border-not-right($size, $type, $color) {
  border:$size+px $type $color;
  border-right: none;
}
/*
-----------------------------------------------------------------*/
@mixin full-background($url){
  background:url($url) no-repeat center center ;
  background-size:cover;
}
