/* ====================================================================================================
Buttons : Here is the main buttons stylesheet
======================================================================================================*/
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: $grey;
  background-color: $white;
  border-color: darken($white, 20%);
  text-shadow: 0 0 0;
}

.btn{
  &.btn-primary{
    &.btn-lg{
      background: $color-theme;
      border-color: $purple;
      color: lighten($white, 15%);
      border-radius: 2px;
      padding: .8em 1em;
    }
  }
}


button[type="button"]{
  background: transparent;
  border: 0;
  color: #fff;
  line-height: 2.7;
  ul li a{color: $grey}
}


